* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    box-sizing: border-box;
    overflow: hidden;
  
    }
    body {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      overflow-x: hidden;
        
    }
    .logo {
      color: white;
      font-size: 20px;
      background-color: black;
      padding: 5px;
      align-items: center;
    }

.navbar {
  background-color: greenyellow;
  padding: 10px;

}
.navbar ul {
  list-style: none;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.navbar li {
  margin-right: 5px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 25px;
}
@media (max-width: 767px) {
  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .navbar li {
    margin: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar li {
    margin-right: 5px;
   
  }
}


@media (min-width: 1024px) {
  .navbar {
    padding: 20px;
    
  }
}

    .cont {
      text-align: center;
      box-sizing: border-box;
      margin: 60px;
  
    }
    .cover {
    height: 700px;
    width: 800px;
    margin: 50px;
    position: relative;
    }    
.cont h3 {
    font-size: 30px;
 
}
.cont p {
font-size: 25px;
margin-top: 10px;
}
.row {
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
align-items: center;
justify-content: center;
background: linear-gradient(0deg, green, transparent 20px);
}
.row h1 {
width: 100%;
text-align: center;
font-size: 2.75em;
margin: 0.6em 0;
font-weight: 600;
color: black;
background-color: lightyellow;
}
.column {
padding: 1em;
background-color: lightblue;
margin: 20px;
}
.cards {
padding: 3.1em 1.25em;
text-align: center;
background: linear-gradient(0deg, green, transparent 20px);
background-repeat: no-repeat;
background-position: 0 0.62em;
box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
border-radius: 0.5em;
transition: 0.5s;
box-sizing: border-box;
 
}
.cards .icon {
font-size: 2.5em;
height: 2em;
width: 2em;
margin: auto;
background-color: lightgreen;
display: grid;
place-items: center;
border-radius: 50%;
color: white;
}
.icon:before {
position: absolute;
content: "";
height: 1.5em;
width: 1.5em;
border: 0.12em solid white;
border-radius: 50%;
transition: 0.5s;
}
.cards h3 {
font-size: 2.3em;
margin: 1em 0 1.4em 0;
font-weight: 600;
letter-spacing: 0.3px;
color: white;
}
.cards p {
line-height: 2.5em;
color: black;
}
.cards:hover {
background-position: 0;
}
.cards:hover .icon:before {
height: 2.25em;
width: 2.25em;
}

@media screen and (min-width: 768px) {
section {
padding: 1em 7em;
}
}
@media screen and (min-width: 992px) {
section {
padding: 1em;
}
.cards {
padding: 5em 2em;
}
.column {
flex: 0 0 33.33%;
max-width: 33.33%;
padding: 0 1em;

}
}
    #about {
        position: relative;
        text-align: center;
        margin: 10px;
	background-color: blue;
        background: linear-gradient(0deg, blue, transparent 10px);
	padding: 40px;
    }
    .my_photo {
        width: 200px;
        border-radius: 5px;
        border: none;
        height: 190px;
        float: left;
	margin-left: 100px;
        transition: 0.5s ease;
       
        
}
      .my_photo:hover {
        transform: scale(1.2)
      }
      .about_content {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
      }
      .about_content h2 {
        display: inline-block;
        border-radius: 10px;
        background-color:lightblue;
        text-align: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        transition: transform 0.5s;
      }
      .about_content h2:hover {
        transform: scale(1.2);
      }
      
      .about_content p {
        width: 100%;
        color: black;
        font-size: 20px;
	text-align: center;
        margin-top: 5px;
        transition: transform 0.8s ease; 
        margin-bottom: 10px;
      }
      .about_content p:hover {
        transform: scale(1.1);
      }
      .social_media {
        padding: 10px;
        bottom: -10px;
        margin-left: 40%;
        height: 60%;
        width: 50%;
        }
          a i {
          background-color: rgb(197, 109, 109);
          height: 100%;
          width: 10%;
          padding: 10px;
          align-items: center;
          margin-right: 30px;
          border-radius: 10px;
          
        }
        a i:hover {
          background-color: crimson;
          transform: scale(1.2);
          border-color: azure;
        }

      
      .project_content {
        font-size: 40px;
        height: 100%;
        margin: 10px;
	padding: 30px;
	background-color: lightblue;
	 background: linear-gradient(0deg, red, transparent 10px);
	 margin-bottom: 200px;
      }
      .project_content h2 {
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      font-size: 30px;
      }
      .project_content h3 {
        background-color: rgb(47, 48, 79);
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        transition: transform 0.5s ease;
        color: white;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
	margin-top: 20px;
        
      }
      .project_content h3:hover {
        transform: scale(1.2);
      }
      .project_content p {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 20px;
        text-align: center; 
      }
