.blog  {
    font-size: 20px;
    padding: 10px;
    margin-top: 70px;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
    display: flex;
    
    }
    .form {
    width: 100%;
    height: 180px;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    }
     #title {
    width: 1000px;
    margin-left: 95px;
    height: 30px;
    display: inline-block;
    position: relative;
    }
    textarea {
    width: 1000px;
    height: 80px;
   
    margin-bottom: 10px;
    border: 1px solid #f00f0f;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(252, 5, 5, 0.1);
       font-family: Arial, sans-serif;
      font-size: 14px;
       background-color: #f7f7f7;
      color: #333;
      scrollbar-width: thin;
      scrollbar-color: #ccc #f7f7f7;
    }
    .create_post {
    width: 130px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: green;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 60px;
    margin-top: -10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    text-align: center;
    
    }
    .create_post:hover {
            background-color: pink;
    }
