* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    transition: box-shadow 0.5s;
    width: 550px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    margin-top: 20px;
    padding-bottom: 10px;
}
.container:hover {
    box-shadow: 0 0 10px rgb(155, 80, 80);
}
.container form {
    display: flex;
    flex-direction: column;
}
.container h2 {
    text-align: center;
    margin-bottom: 10px;
}
.container label {
    text-align: center;
}
#username {
    font-size: 20px;
    margin: 10px;
    border: none; 
    height: 35px;
    width: 350px;
    text-align: center;
}
#password {
    font-size: 20px;
    margin: 10px;
    border: none; 
    height: 35px;
    width: 350px;
    text-align: center;
}
p {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.container .btn1 {
    
    background-color: black;
    color: white;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    border: none;
}
.btn1:hover {
    background-color: olivedrab;
}
.container #remember {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 43%;
}

.signUpHere {
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    
}
.container p {
    font-size: 20px;
}
.forgot {
  margin-left: 45%;
  font-size: 25px;  
}