body {
background-color: white;
}
.heading {
margin-top: 100px;
font-size: 50px;
padding-bottom: 3px;
}
.form {
margin-top: -50px;
padding: 10px;
}
.form-group {
background-color: white;
margin-top: -5px;
padding-top: 10px;
text-align: center;
}
.btn {
height: 25px;
}
button {
height: 35px;
font-size: 20px;
cursor: pointer;
padding: -5px;
float: center;
margin: -10px;
display: inline-block;
position: relative;
background-color: pink;
border-radius: 10px;
margin-right: -30px;
margin-top: 10px;
}
button:hover {
background-color: tomato;
}
#username {
width: 250px;
height: 25px;
border-radius: 15px;
align-text: center;
align-items: center;
}
#email {
width: 250px;
height: 25px;
border-radius: 15px;
}
#password1 {
width: 250px;
height: 25px;
border-radius: 15px;
}
#password2 {
width: 250px;
height: 25px;
border-radius: 15px;
}
.have_acount p { 
font-size: 25px;
padding-top: 10px;
display: relative;
}
