<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yaekob Bonke {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    {% block custom_css %}{% endblock %}
</head>
<body>
    <div type="logo" class="logo"> Yaekob Bonke</div>
<nav class="navbar">
    <div>
    <ul class="navbar_block">
          <li><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="#projects">Recent Projects</a></li>
          <li><a href="/contacts">Contacts</a></li>
          <li><a href="/login" class="lo">Login</a></li>
          <li><a href="/register" class="si">Register</a></li>
    </ul>
    </div>
</nav>
    {% block content %}
<section class="intro">
    <div class="cont">
        <h3>Welcome To this website</h3>
        <p>This is my website where you can get different blog posts and tutorials about <br>
            web development</p>       
    </div>   
</section>
<section class="feature">
     <div class="row">
	     <h1>Our features </h1>
     </div>
     <div class="row">	    
	     <div class="column">
		     <div class="cards">
			     <div class="icon">
				     <i class="fa-thin fa-user"></i>
			     </div>
			     <h3>User friendly</h3>
			     <p>Enables user to create account. It also enables user to login and access blogs</P>
		     </div>
	     </div>
	     <div class="column">
                     <div class="cards">
                             <div class="icon">
                                     <i class="fa-solid fa-shield-halved"></i>
                             </div>
                             <h3>super secure</h3>
                             <p>Don't worry about security issue</P>
                     </div>
             </div>
	     <div class="column">
                     <div class="cards">
                             <div class="icon">
                                     <i class="fa-solid fa-headset"></i>
                             </div>
                             <h3>Quick support</h3>
                             <p>We are always redy to give you quick support</P>
                     </div>
             </div>
     
     </div>

</section>
 <section class="about" id="about">
            <div class="about_content">
                <div><img src="/static/images/image2.JPG" alt="s" class="my_photo"></div>
                <h2>About Me</h2>
		<p>This is my own website. By using this website,
		I will post different blogs.
		concerning web development and related technologies. 
		This website enables users to create an acount and login to their dashboard.
                </p> 
                <div class="social_media">
                    <p>You can contact me on:</p>
                    <a href="#" title="twitter"><i class='bx bxl-twitter'></i></a>
                    <a href="https://github.com/yaekobbonke/ALX-foundation_portfolio" target="-blank" title="Github"><i class='bx bxl-github'></i></a>
                    <a href="#" target="-blank" title="Linkedin"><i class='bx bxl-linkedin'></i></a>
             </div>
</section>
    
<section class="projects" id="projects">
    <div class="project_content">
        <h2>My Current Projects</h2>
        <h3>Private chatting app</h3>
        <p>Private chatting application development is one of the projects I am doing on currently.<br> 
            This application will enable me to share ideas with my students <br>and other people working with me</p>
        <h3>Hospital management system</h3>
        <p>In this project, I am mainly focusing on hospital patient record keeping system. 
            Loss of patients data is comman problem in Ethiopia. 
        This project will create user friendly system that can be managed by patients.
        </p>  
</div>
</section>        
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
        
    <script>
        
            // Smooth scroll to contacts section
            $('a[href^="#"]').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: $($.attr(this, 'href')).offset().top
                }, 30);
            });
        
        </script>
    {% endblock %}
</body>
</html>
