{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/portfolio.css')}}"
{% endblock %}

{% block content %}
<div class="service-container">
    <h2>My Portfolio Projects</h2>
    <div class="service-box"> <i class='bx bx-code'></i>
        <h3>Portfolio website development</h3>
	<p>Description of Portfolio website development</p>
	<a href="#" class="btn">Read More</a>
    </div>
    <div class="service-box"> <i class='bx bx-brush'></i>
        <h3>Graphic Design</h3>
	<p>Description of Personal chatting application</p>
	 <a href="#" class="btn">Read More</a>
    </div>
    <div class="service-box"> <i class='bx bx-plus-medical' ></i>
        <h3>Hospital management system app</h3>
        <p>Description of Hospital management app</p>
	 <a href="#" class="btn">Read More</a>
	</div>
</div>
{% endblock %}
