{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
    <h2>My Portfolio Projects</h2>
    <div class="project">
        <h3>Portfolio website development</h3>
        <p>Description of Portfolio website development</p>
    </div>
    <div class="project">
        <h3> Personal chatting appllication</h3>
        <p>Description of Personal chatting application</p>
    </div>
    <div class="project">
        <h3>Hospital management system app</h3>
        <p>Description of Hospital management app</p >
    </div>
{% endblock %}
