{% extends "base.html" %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/register.css')}}">
{% endblock %}

{% block content %}
<h2>Register</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="notification">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

<form action="{{ url_for('auth.register') }}" method="POST">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="password1">Password:</label>
    <input type="password" id="password1" name="password1" required>
  </div>
  <div class="form-group2">
    <label for="password2">Confirm password:</label>
    <input type="password" id="password2" name="password2" required>
  </div>
  <button type="submit">Register</button>
</form>
{% endblock %}
